<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Travlr Getaways Web Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
			{{#each about_hbs}}
								{{{body}}}
								<hr>
								<div class="ads">
									{{{ads}}}	
								</div>
								{{{body2}}}
			{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
    {{> footer }}
	</div>
</body>
</html>