<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>News - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">							
			                    {{#each news_hbs}}
								<ul>
									{{{this.news}}}
								</ul>									
			                    {{/each}}
							</div>
							<div>
								<h1>News</h1>
								<img src="images/kayak.jpg" alt="Img">
								<h2>Experience Kayaking!</h2>
								<span class="time">April 03, 2023<br> by: Juan De La Cruz</span>
								{{#each news_hbs}}
									{{{this.experience}}}								
			                    {{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</body>
</html>